:root {
  --icon-color: #afb1b8;
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-background: #2f303a;
  --teem-background: #f5f4fa;
  --rgba: rgba(255, 255, 255, 0.6);
  --main-white-color: #ffffff;
  --part-logo: #000000;
}

body {
  color: var(--primery-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: var(--main-white-color);
  border-bottom: 1px solid #ececec;
}

.header-div {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo.footer {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.logo-part {
  color: var(--part-logo);
}

.logo-part-footer {
  color: var(--main-white-color);
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 28px;
  content: "";
  display: inline-block;
  border-radius: 4px;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact .go-to + .go-to {
  margin-left: 50px;
}

.header-contact .contact {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contact .contact:hover,
.header-contact .contact:focus {
  color: var(--accent-color);
}

.header-contact .contact:hover .header-icon,
.header-contact .contact:focus .header-icon {
  fill: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: var(--primery-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero,
.hero-title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}

.hero {
  background-color: var(--secondary-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
}

.hero-button {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}

.aspect {
  display: flex;
}

.aspect-conteiner-icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--teem-background);
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.aspect > .item {
  width: 270px;
}

.aspect .item + .item {
  margin-left: 30px;
}

.quality {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title.top {
  margin-bottom: 10px;
}

.photo-about > .item {
  position: relative;
}

.description-photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--main-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.about {
  padding-bottom: 94px;
}

.photo-about {
  display: flex;
  justify-content: center;
}

.photo-about .item + .item {
  margin-left: 30px;
}

.section-title.photo {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section.teem {
  background-color: var(--teem-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.members-photo {
  display: flex;
  justify-content: center;
}

.item.border-photo {
  border: 1px;
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members-photo .item + .item {
  margin-left: 30px;
}

.work-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name-title {
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.work-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.social-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.aspect-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aspect-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aspect-link:hover,
.aspect-link:focus {
  background-color: var(--accent-color);
}

.aspect-link:hover .aspect-icon,
.aspect-link:focus .aspect-icon {
  fill: var(--main-white-color);
}

.company-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.company-item {
  margin-right: 30px;
}

.compani-link:hover,
.compani-link:focus {
  border-color: var(--accent-color);
}

.compani-link {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.compani-link:hover .company-icon,
.compani-link:focus .company-icon {
  fill: var(--accent-color);
}

.company-item:last-child {
  margin-right: 0;
}

.companys {
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer > .conteiner {
  display: flex;
}

.footer-contact-conteiner {
  margin-right: 70px;
}

.footer-social-title {
  margin-bottom: 20px;
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--main-white-color);
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.footer-contact > .mail-tell {
  margin-bottom: 9px;
}

.footer-contact > .mail-tell:last-child {
  margin-bottom: 0;
}

.footer-contact .contact {
  color: var(--rgba);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact .contact:hover,
.footer-contact .contact:focus {
  color: var(--accent-color);
}

.social-list-footer {
  display: flex;
}

.social-item-footer {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item-footer:last-child {
  margin-right: 0;
}

.aspect-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aspect-link-footer:hover,
.aspect-link-footer:focus {
  background-color: var(--accent-color);
}

.aspect-icon-footer {
  fill: var(--main-white-color);
}

.footer-form {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  width: 570px;
  height: 86px;
}

.footer-input-fild {
  position: relative;
  display: inline-block;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input:focus {
  outline: none;
}

.footer-label {
  position: absolute;
  top: -35px;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
}

.footer-button-icon {
  margin-left: 10px;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons .item + .item {
  margin-left: 8px;
}

.portfolio-buttons .button {
  background-color: var(--teem-background);
  color: var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}

.portfolio-buttons .button:hover,
.portfolio-buttons .button:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-photo {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-photo > .item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.link-portfolio {
  text-decoration: none;
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-text {
  padding: 20px 24px;
  background: var(--main-white-color);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.link-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.link-description {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.link-portfolio:hover .portfolio-description,
.link-portfolio:focus .portfolio-description {
  transform: translateY(0);
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:focus,
.close-button:hover {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.name-fild {
  position: relative;
}

.icon-form-name,
.icon-form-tel,
.icon-form-email {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.name,
.tel,
.email {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name:focus,
.tel:focus,
.email:focus,
.textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.name:focus ~ .icon-form-name,
.tel:focus ~ .icon-form-tel,
.email:focus ~ .icon-form-email {
  fill: var(--accent-color);
}

.tel-fild {
  position: relative;
  margin-top: 28px;
}

.tel-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.email-fild {
  position: relative;
  margin-top: 28px;
}

.email-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.text-fild {
  position: relative;
  margin-top: 28px;
}

.text-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-fild {
  margin-top: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.checkbox-label::before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  border: 2px solid transparent;
  border-radius: 2px;
  background-image: url(../images/Vector-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox:focus + .checkbox-label::before {
  border-color: var(--accent-color);
}

.form-link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.form-modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */