.company-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.company-item {
  margin-right: 30px;
}

.compani-link:hover,
.compani-link:focus {
  border-color: var(--accent-color);
}

.compani-link {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.compani-link:hover .company-icon,
.compani-link:focus .company-icon {
  fill: var(--accent-color);
}

.company-item:last-child {
  margin-right: 0;
}

.companys {
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
